body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #212121;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  color: #757575;
}

section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section:last-child {
  padding-top: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.footer-title {
  margin-bottom: 21px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button, .button-modal {
  display: inline-block;
  min-height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  cursor: pointer;
}

.navigation, .navigation .link, .header-contacts, .menu-button, .advantages, .team {
  padding: 0;
  margin: 0;
}

.activity, .social-network, .customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages .background, .team-link, .customers .item, .checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.page-header {
  min-height: 60px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header-wrapper {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 60px;
  }
  .navigation .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .navigation .item + .item {
    margin-left: 50px;
  }
}

.navigation .link {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover, .navigation .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation .link {
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  margin-top: 8px;
  background-color: #2196f3;
  background-size: auto;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
  }
}

.logo {
  width: 141px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 81px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 85px;
    width: 153px;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo > span {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts .item + .item {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .header-contacts .item + .item {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts .item + .item {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contacts {
  color: #757575;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
  color: #2196f3;
}

.contacts.icon:hover, .contacts.icon:focus {
  --color4: $accentColor;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 14px;
  }
}

.header-contacts .icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .header-contacts .icon {
    margin-right: 10px;
  }
}

.cover {
  width: 16px;
  height: 11px;
}

.phone {
  width: 10px;
  height: 15px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  fill: #212121;
}

.menu-button .cross-icon {
  display: none;
}

.menu-button.is-open .cross-icon {
  display: block;
}

.menu-button.is-open .menu-icon {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.hero {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 118px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/mobile/banner.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/mobile/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/mobile/banner@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/mobile/banner@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/tablet/banner.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/tablet/banner.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/tablet/banner@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/tablet/banner@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/desktop/banner.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/desktop/banner.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/desktop/banner.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/desktop/banner.jpg);
  }
}

.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 46px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .advantages .item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages .item {
    width: calc((100%-30px) / 2);
    margin: 0;
  }
}

.advantages .item:nth-child(2n + 1) {
  margin-left: 0;
}

.advantages .item:nth-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .advantages .item + .item {
    margin-left: 30px;
  }
}

.advantages .background {
  background: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages .background {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .background {
    width: 270px;
  }
}

.advantages .img {
  width: 70px;
  height: 70px;
}

.advantages .title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages .title {
    text-align: center;
  }
}

.advantages .title-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .activity-section {
    display: none;
  }
}

.activity .item {
  position: relative;
}

.activity .item + .item {
  margin-left: 30px;
}

.activity img {
  display: block;
  border-radius: 4px;
  min-width: 370px;
}

.activity-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 27px 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.team-container {
  background-color: #f5f4fa;
}

.team {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
  }
}

.people {
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .people {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.people .item {
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .people .item:not(:last-child) {
    margin-bottom: 30 px;
  }
  .people .item:last-child {
    margin-bottom: 60 px;
  }
}

@media screen and (max-width: 1199px) {
  .people .item {
    width: 354px;
  }
  .people .item:not(:nth-child(2n + 1)) {
    margin-right: 30px;
  }
  .people .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .people .item + .item {
    margin-left: 30px;
  }
}

.face {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about-person {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  font-weight: 400;
  text-align: center;
}

.social-network {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 207px;
  height: 44px;
}

.social-network .item {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social-network .item:hover .team-icon,
.social-network .item:focus .team-icon {
  fill: #ffffff;
}

.social-network .item + .item {
  margin-left: 10px;
}

.team-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover, .team-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
}

.team-icon {
  display: block;
  margin: 0;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .customers {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .customers .item + .item {
    margin-left: 30px;
  }
}

.customers .item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 4 * 15px) / 2);
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .customers .item {
    width: calc((100% - 6 * 15px) / 3);
    height: 90px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers .item {
    width: 170px;
    height: 90px;
  }
}

.customers .item:hover, .customers .item:focus {
  border: 1px solid #2196f3;
}

.customers .item:hover .icon,
.customers .item:focus .icon {
  color: #2196f3;
}

.customers .icon {
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company1 {
  width: 44px;
  height: 49px;
}

.company2 {
  width: 40px;
  height: 52px;
}

.company3 {
  width: 41px;
  height: 42px;
}

.company4 {
  width: 79px;
  height: 42px;
}

.company5 {
  width: 59px;
  height: 47px;
}

.company6 {
  width: 88px;
  height: 45px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close:hover .icon-close,
.close:focus .icon-close {
  fill: #2196f3;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  text-align: center;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  display: inline-block;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
}

.form-input:focus ~ .icon-form {
  fill: #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #757575;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

.form-texterea {
  display: inline-block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-texterea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-texterea:focus + .comment-label {
  color: #2196f3;
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.button-modal {
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.checkbox-label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #757575;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.checkbox-label a {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.checkbox {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-origin: border-box;
  background-image: url(../img/check.svg);
  background-size: contain;
}

.checkbox-icon {
  display: block;
  margin-left: 0;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */