.filter {
  // display: flex;
  // justify-content: center;
  // margin-left: auto;
  // margin-right: auto;

  // margin-top: 0;
  // padding-top: 93px;
  // margin-bottom: 50px;
}

.filter .item + .item {
  // margin-left: 8px;
}

.button-portfolio {
  // display: inline-block;
  // text-align: center;

  // padding: 6px 22px;

  // min-height: 38px;
  // border-radius: 4px;
  // border: none;

  // font-family: inherit;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.62;

  // transition: color $duration $timingFunction,
  //   background-color $duration $timingFunction,
  //   box-shadow $duration $timingFunction;

  &:hover,
  &:focus {
    // background-color: $accentColor;
    // color: $primaryWhiteColor;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    //   0px 3px 1px rgba(0, 0, 0, 0.1);
    // cursor: pointer;
  }
}
