footer {
  // background-color: $footerBGColor;
}

footer a {
  // display: inline-block;
}

.footer {
  // display: flex;
  // align-items: baseline;
  // padding-top: 48px;
  // padding-bottom: 28px;
}
