.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  background-color: $footerBGColor;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Banner.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-title {
    margin-top: 0;
    margin-bottom: 30;
    padding-top: 200px;

    color: $primaryWhiteColor;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.button {
  @extend %mainButton;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
