.backdrop {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background: rgba(0, 0, 0, 0.2);

  // opacity: 1;

  // transition: opacity $duration $timingFunction;
}

.modal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%) scale(1);
  // transition: transform $duration $timingFunction;

  // width: 528px;
  // height: 581px;
  // padding: 40px;

  // background-color: $primaryWhiteColor;
  // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 1px 3px rgba(0, 0, 0, 0.12);
  // border-radius: 4px;
}
.close {
  // position: absolute;

  // top: 8px;
  // right: 8px;
  // width: 30px;
  // height: 30px;

  // background-color: $primaryWhiteColor;
  // border-radius: 50%;
  // border: none;
  // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 1px 3px rgba(0, 0, 0, 0.12);

  // transition: fill $duration $timingFunction;

  // cursor: pointer;

  &:hover .icon-close,
  &:focus .icon-close {
    // fill: $accentColor;
  }
}

.icon-close {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // width: 18px;
  // height: 18px;
  // fill: $primaryBlackColor;
}

.modal-title {
  // margin-top: 0;
  // margin-bottom: 30px;

  // color: $titleTextColor;

  // font-weight: 700px;
  // font-size: 20px;
  // line-height: 1.15;
  // text-align: center;
}
