.page-header {
  min-height: 60px;
  margin-bottom: 0px;

  @media screen and (min-width: $tablet) {
    height: 80px;
    display: flex;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  position: relative;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}

.header-wrapper {
  border: 1px solid #ececec;
}

.mobile-menu {
  @media screen and (max-width: 767px) {
    background-color: $primaryWhiteColor;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    height: 100%;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}
