body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: $primaryWhiteColor;
  color: $titleTextColor;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  color: $paragraphColor;
}

section {
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
