$primaryWhiteColor: #ffffff;
$primaryBlackColor: #000000;
$footerTextColor: rgba(255, 255, 255, 0.6);
$footerBGColor: #2f303a;
$titleTextColor: #212121;
$accentColor: #2196f3;
$paragraphColor: #757575;

$logoFont: Raleway, sans-serif;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
